.section {
    background-color: white;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem 2rem;
    gap: 1rem;
}

.section h2 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.section h3 {
    font-size: 18px;
    font-weight: 600;
}

.section p {
    font-size: 1.6rem;
    line-height: 1.5;
}